body {
  /* font-family: 'Indie Flower', cursive; */
  background: url(imgs/jump.jpg);
  background-size: auto;
  background-repeat: no-repeat;
 /* color:white; */
}
.bg-custom {
  background-color:rgba(74, 82, 94,0.55);
}
.jumbotron {
  background: rgba(74, 82, 94,0.55);
  color: white;
  letter-spacing: 2.3rem

}
/* h1 {
  font-weight: 100;
  letter-spacing: 0.6rem;
  font-size: 4.5rem;
} */
